<%= partials "flash" %>

<h3>Your Lists</h3>
<div class="ui divider"></div>
<div class="ui divided list">
  <% @lists.each do |l| %>
    <div class="item">
      <a class="list-title" href="/lists/<%= l.id %>"><%= l.name %></a>
      <div class="ui red label counter"><%= l.count %></div>
    </div>
  <% end %>
</div>
